#intro {
    display: block;
    height: auto;
    text-align: center;
    color: #fff;
    background: url(../css/images/motobak.jpg) bottom center no-repeat #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 685px;
    max-height: 685px;
}

button.navbar-toggle.ui-btn.ui-shadow.ui-corner-all {
    display: none;
}

@media screen and (max-width: 768px) {
    button.navbar-toggle.ui-btn.ui-shadow.ui-corner-all {
        display: initial;
        max-width: 100px;
        margin: 5px 5px 5px 5px;
    }
}

.intro-body .date-input {
    text-align: center;
    font-size: 16px;
}

.card .img-responsive {
  background-color: #777;
  width: 398px;
  height: 180px;
}

.card .img-responsive h1 {
    position: relative;
    top: 40%;
}

div.card.col-sm-3 {
    position: relative;
    top: -220px;
}

@media screen
    and (max-width: 992px)
    and (min-width: 590px) {
    div.card.col-sm-3 {
        min-width: 360px;
        top: -185px;
    }
}

.productIntro {
    position: relative;
    top: 60px;
}
.productIntroFourth {
     position: relative;
     top: 35px;
 }

.productIntroFourth h2 {
    position: relative;
    top: 35px;
}

@media screen and (max-width: 1200px){
    div.productIntro h2 {
        font-size: 20px;
    }
    div.productIntro span {
        font-size: 16px;
    }
    .productIntroFourth h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px){
    .productIntro {
        top: 33px;
    }
}

div.card-block {
    padding: 16px 40px 40px 40px;
    border: 1px solid #777;
    min-height: 230px;
    width: auto;
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px)
              and (min-width: 570px)
{
    div.card-block {
        max-width: 398px;
        width: auto;
    }
    div.card.col-sm-3 {
        min-width: 360px;
        top: -185px;
        left: 20%;
    }
}

@media screen and (max-width: 480px){
    div.card-block {
        width: auto;
    }
}

@media screen and (min-width: 458px){
    div.card-block {
        max-width: 398px;
    }
}

@media screen and (min-width: 460px){
    div.card.col-sm-3 {
        top: -180px;
    }
}

@media screen and (min-width: 480px)
              and (max-width: 568px)
{
    div.card.col-sm-3 {
        left: 7%;
    }
}

@media screen and (min-width: 568px)
and (max-width: 625px)
{
    div.card.col-sm-3 {
        left: 12%;
    }
}

@media screen and (min-width: 625px)
and (max-width: 767px)
{
    div.card.col-sm-3 {
        left: 20%;
    }
}

.productIntro span {
    display: block;
}

.discount {
    text-decoration: line-through;
}

.navbar-brand.page-scroll.ui-link {
    color: #777777;
}

.card-content {
    min-height: 116px;
}

#slide .card:nth-child(5) .card-content{
    margin-bottom: 10px;
}

#slide .loginDiv {
    padding: 10px;
    display: inline-block;
}

#slide .registerDiv {
    padding: 10px;
    display: inline-block;
}

.loginDiv h1 {
    color: #777777;
}

.card-text {
    color: #777777;
}

#registerBtn {
    color: #fff;
    background-color: #989797;
    border-color: #8e8e8e;
}

#registerFormDiv, #vehiFormDiv  {
    margin-top: 80px;
    padding: 0px 40px;
}

#registerFormDiv .ui-checkbox {
   display: inline-block;
 }

div.man {
    background-image: url('../css/images/man.png');
    height: 300px;
    width: 540px;
    position: fixed;
    top: 400px;
    right: -400px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    z-index: 999;
}

div.talkBubble {
    position: relative;
    width: 140px;
    height: 45px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 4px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    top: 7px;
    left: -100px;
    z-index: 999;
}

#contentInfo {
    margin-top: 75px;
}

#insuraInfo ul {
    list-style: none;
}

.checkInfo {
    padding: 0px 10px;
}

#ui-datepicker-div {
    z-index: 999 !important;
}

#payCharge {
    padding: 0px 25%;
}

.card-title {
    color: black;
}

.card h3 {
    margin-top: 16px;
}

.card-text {
    min-height: 80px;
}

.card-content p {
    padding-top: 16px;
    font-size: 16px;
}

.help-block {
    font-size: 10px;
}

.appre {
    margin-top: 70px;
    border-radius: 25px;
    background-color: #ddd;
}

#thanksContent {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loginForm {
    margin-top: 70px;
}

.help-block .ui-checkbox {
    top: 8px;
}

a.navbar-brand {
    background-image: url('../css/images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 45px;
    margin: 2px;
}

.navbar-default {
    min-height: 60px;
}

.fa.fa-bars {
    color: #E84566;
}

button.navbar-toggle.ui-btn.ui-shadow.ui-corner-all {
    color: #E84566;
}

.footer {
    margin: 40px 30%;
}

ul.nav.navbar-nav li a {
    color: #E84566;
}

ul.nav.navbar-nav li a:hover{
    color: #c71237;
}

.nav.navbar-nav {
    margin-top: 8px;
}

.footer .text-muted {
    color: #E84566;
    font-size: 8px;
    margin-left: -30px;
}

@media screen and (min-width: 700px){
    .footer .text-muted {
        font-size: 16px;
        white-space: nowrap;
    }
}

.footer-container {
    max-height: 150px;
}

#select-4-button:after {
    display: none;
}

.selectpicker {
    margin-left: 30px;
}

span.selectpicker {
    font-size: 17px;
}

.btnContainer button {
    max-width: 25%;
    display: inline-block;
    min-height: 60px;
    min-width: 155px;
}

.btnContainer button.btn-success {
    background-color: #2c6b2c;
    color: white;
    text-shadow: none;
    background-image: url('images/carPlate.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btnContainer button.btn-warning {
    background-color: #e0d43d;
    text-shadow: none;
    background-image: url('images/carPlate.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btnContainer button.btn-danger {
    background-color: #e21010;
    text-shadow: none;
    color: white;
    background-image: url('images/carPlate.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btnContainer button.btn-white {
    background-color: #fff;
    text-shadow: none;
    background-image: url('images/carPlate.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btnContainer button.btn-danger:hover {
    text-shadow: none;
    color: transparent;
    background-color: rgba(238, 239, 238, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bikeIcon/redBike.png');
}

.btnContainer button.btn-success:hover {
    background-color: rgba(238, 239, 238, 0);
    color: transparent;
    text-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bikeIcon/greenBike.png');
}

.btnContainer button.btn-warning:hover {
    background-color: rgba(238, 239, 238, 0);
    color: transparent;
    text-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bikeIcon/yellowBike.png');
}

.btnContainer button.btn-white:hover {
    background-color: rgba(238, 239, 238, 0);
    color: transparent;
    text-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bikeIcon/whiteBike.png');
}

@media screen and (min-width:1200px){
    .btnContainer button{
        margin: 5px;
    }
}

.intro-body .container {
    padding-top: 170px;
}

.btnContainer button {
    max-width: 120px;
}

.tlt {
    text-shadow: none;
}

div.btnContainer {
    padding: 0px 26%;
}

@media screen and (max-width:1200px){
    div.btnContainer {
        padding: 0px 22%;
    }
}

@media screen and (max-width:580px){
    div.btnContainer {
        padding: 0px 0%;
    }
}

div.col-xs-12.text-center h4 {
    text-shadow: none;
}

.btnContainer {
    margin: 10px 0px;
    height: 50px;
}

#selectedCardCc {
    background-color: rgba(0, 0, 0, 0.46);
    padding-bottom: 35px;
    margin: auto;
}

#selectedCardCc input.date-input {
    background-color: black;
    text-shadow: none;
    color: white;
}

@media screen and (max-width:320px){
    .btnContainer button {
        min-width:120px;
        min-height: unset;
    }
    .intro-body .container {
        padding-top: 170px;
    }
    #firstSlide #submitedBtn {
        max-width: 120px;
    }
}

@media screen and (min-width:320px) and (max-width: 375px){
    #slideOfCardCc .col-xs-5 {
        padding-left: 6px;
    }
    #firstSlide #submitedBtn {
        max-width: 120px;
        position:relative;
        left: 70px;
    }
}
